<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website is created by Steve LEE. It retrieves data from darksky.net and mapbox.com</p>
        <img class="portrait" src="/img/Steve.PNG">
    </div>
    {{>footer}}
</body>

</html>